*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #131417;
}
body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  /*когато сложим за мобилното меню трансформ-тразнишън започва да се склорва екрана на ляво и така го премахва скролването */
  /*това се отнася след това до оразмеряването с rem. 1rem=10px */
}

.container {
  padding: 1.6rem 5.4rem;
}

.grid {
  display: grid;
}
.grid--two--col {
  grid-template-columns: repeat(2, 1fr);
}
.grid--tree--col {
  grid-template-columns: repeat(3, 1fr);
}

.instagram {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  border-radius: 50%; /* Ако ion-icon поддържа color */
  pointer-events: none; /* за да не пречи на мишката в невидимо състояние */
}

.instagram-container:hover .instagram {
  opacity: 0.5;
  cursor: pointer;
  pointer-events: auto;
}

/*arrow*/
.icon-arrow {
  margin: 0 auto;
  position: relative; /* за позициониране на псевдоелемента */
  cursor: pointer;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -5rem;
}
.icon-arrow::after {
  content: "See all";
  position: absolute;
  top: 100%; /* показва надписа отгоре на стрелката */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: none;
}

.icon-arrow:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.arrow {
  font-size: 5rem;
}
