/*@media (max-width: 91em) {
  /*1457px
  .number {
    font-size: 1.6rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .design-text {
    margin-left: 6rem;
  }
  .section-hacks {
    padding-left: 5rem;
  }
  .large {
    width: 35rem;
    height: 25rem;
  }
  .small {
    width: 18rem;
    height: 13rem;
  }
  .hachs-text {
    font-size: 1rem;
  }
  .list-text {
    font-size: 1rem;
  }
}

@media (max-width: 85em) {
  /*1362px*
  .homepage-header {
    font-size: 1.9rem;
  }
  .homepage-left-side a:link,
  .homepage-left-side a:visited {
    font-size: 1rem;
  }

  .hero-header {
    font-size: 1.6rem;
  }
  .hero-text {
    font-size: 0.77rem;
  }
  .design-head {
    font-size: 2rem;
  }
  .number {
    font-size: 1.2rem;
  }
  .design-text {
    font-size: 0.8rem;
  }
  .planning-header {
    font-size: 2.3rem;
    line-height: 1.3;
  }
  .planning-price span {
    font-size: 1.5rem;
  }
  .planning-decrative-text {
    font-size: 0.85rem;
  }
  .new-york-image-container p {
    font-size: 0.8rem;
  }
  .new-york-header {
    font-size: 1.8rem;
  }

  .new-york-link {
    font-size: 0.65rem;
  }
  .expert-text {
    font-size: 1.8rem;
    line-height: 1.3;
  }
  .experts-images-container {
    gap: 1.4rem;
  }
  .dream-content h2 {
    font-size: 1.8rem;
  }
  .dream-content p {
    color: #ecedf1;
    font-size: 0.9rem;
  }
  .footer-righ-text {
    font-size: 2rem;
  }
  .projects-images-containers {
    row-gap: 3rem;
  }
  .partner-image {
    padding: 2rem;
  }
  .btn-contact-us {
    font-size: 0.7rem;
  }
}
@media (max-width: 83em) {
  .design-image {
    width: 40%;
  }
  .design-img {
    width: 35rem;
  }
}

@media (max-width: 79em) {
  /*1271*
  .btn-contact-us {
    font-size: 0.65rem;
  }
  .design-image {
    width: 35%;
  }
  .design-img {
    width: 30rem;
  }
  .large {
    width: 33rem;
    height: 23rem;
  }
  .small {
    width: 15rem;
    height: 10rem;
    gap: auto;
  }
}

@media (max-width: 74em) {
  /*1190
  .homepage-header {
    font-size: 1.5rem;
  }
  .homepage-image {
    width: 6rem;
    height: 6rem;
    margin-right: 1.5rem;
  }

  .hero-header {
    font-size: 1.4rem;
  }
  .hero-text {
    font-size: 0.75rem;
  }

  .number {
    font-size: 1rem;
  }

  .design-header {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
  }
  .design-text {
    font-size: 0.8rem;
  }
  .design-list {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .planning-header {
    font-size: 2rem;
    line-height: 1.3;
  }
  .planning-price span {
    font-size: 1rem;
  }
  .planning-decrative-text {
    font-size: 0.75rem;
  }
  .new-york-image-container p {
    font-size: 0.7rem;
  }
  .new-york-header {
    font-size: 1.6rem;
  }

  .new-york-link {
    font-size: 0.65rem;
  }
  .expert-text {
    font-size: 1.4rem;
    line-height: 1.3;
  }
  .experts-images-container {
    gap: 1.1rem;
  }
  .expert-image {
    width: 6rem;
    height: 6rem;
  }
  .expert-image-dog {
    width: 15rem;
    height: 15rem;
  }
  .dream-content h2 {
    font-size: 1.6rem;
  }
  .dream-content p {
    color: #ecedf1;
    font-size: 0.8rem;
  }
  .footer-righ-text {
    font-size: 2rem;
  }
  .projects-images-containers {
    row-gap: 3rem;
  }
  .partner-image {
    padding: 2rem;
  }
  .btn-contact-us {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .partners-list {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* при много малки екрани намаляваме на 3 колони 
    grid-template-rows: repeat(4, 1fr); /* и съответно 4 реда 
    padding: 1rem 0.5rem;
  }
}*/

@media (max-width: 185em) {
  .container {
    padding: 0rem 15rem;
  }
  .header {
    padding: 0rem 15rem;
  }
  .navbar-item {
    font-size: 1.5rem;
  }

  .section-homepage {
    gap: 1rem;
  }
  .homepage-image {
    width: 15rem;
    height: 15rem;
  }
  .homepage-header {
    font-size: 4.3rem;
  }
  .section-hero {
    max-width: 95%;
  }
  .hero-content {
    padding: 5rem;
    justify-content: center;
  }

  .tag-white p {
    font-size: 1.4rem;
    margin-top: 15rem;
  }
  .text {
    margin: 5rem 5rem 5rem 5rem;
  }
  .hero-header {
    font-size: 3.5rem;
  }
  .hero-text {
    font-size: 1.4rem;
  }
  .section-design {
    padding: 8rem 15rem;
    margin-bottom: 4rem;
  }
  .design-header {
    font-size: 5rem;
  }
  .planning-header {
    font-size: 5rem;
  }
  .large-decorative {
    font-size: 10rem;
  }
  .planning-decrative-text {
    font-size: 1.5rem;
  }
  .list-text,
  .list-text span {
    font-size: 2rem;
  }
  .new-york-header {
    font-size: 5rem;
    margin-bottom: 5rem;
  }
  .new-york-image-container p {
    font-size: 2rem;
  }
  .new-york-link {
    text-align: center;
    font-size: 1rem;
  }
  /*section-project */
  .section-project {
    padding: 9rem;
  }
  .title-1 {
    font-size: 2rem;
  }
  .project-image {
    width: 80rem;
  }
  .project-tags p {
    font-size: 2rem;
  }

  .new-york-link {
    font-size: 1.4rem;
  }
  .expert-text {
    font-size: 4.2rem;
    margin-bottom: 10rem;
  }
  .expert-image {
    width: 20rem;
    height: 20rem;
  }
  .expert-image-dog {
    width: 40rem;
    height: 40rem;
  }
  .section-dream {
    padding: 20rem 10rem;
  }
  .dream-content h2 {
    font-size: 6rem;
    margin-bottom: 4rem;
  }
  .dream-content p {
    font-size: 2rem;
  }
  .btn-contact-us {
    font-size: 2rem;
  }
  .btn-green {
    padding: 0.9rem 1.8rem;
  }
  .large {
    width: 80rem;
    height: 80rem;
  }
  .small {
    width: 40rem;
    height: 40rem;
  }
  .hachs-text {
    font-size: 2rem;
  }
}
@media (max-width: 170em) {
  .project-image {
    width: 75rem;
  }

  .expert-text {
    font-size: 3.8rem;
  }
  .expert-image {
    width: 15rem;
    height: 15rem;
  }
  .expert-image-dog {
    width: 30rem;
    height: 30rem;
  }
  .hachs {
    gap: 2.5rem;
  }
  .large {
    width: 75rem;
    height: 75rem;
  }
  .small {
    width: 30rem;
    height: 30rem;
  }
}
@media (max-width: 170em) {
  .btn-contact-us {
    font-size: 0.83rem;
    padding: 0.3rem 1rem;
  }
}
@media (max-width: 170em) {
  .btn-contact-us {
    font-size: 0.83rem;
    padding: 0.3rem 1rem;
  }
}
@media (max-width: 159em) {
  .project-image {
    width: 70rem;
  }
}
@media (max-width: 152em) {
  .large {
    width: 70rem;
    height: auto;
  }
  .small {
    width: 25rem;
    height: auto;
  }
}
