/*navigation*/
.menu-toggle {
  display: block;
}

/* Стил за hamburger икона */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}
.logo {
  max-width: 100%;
  cursor: pointer;
}
.logo-img {
  width: 5rem;
  display: inline-block;
}
.navbar-items {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: none;
}
.navbar-item {
  list-style: none;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.navbar-item a:link,
.navbar-item a:visited {
  text-decoration: none;
  font-weight: 700;
  line-height: 1;
}

.navbar-item a:hover,
.navbar-item a:active {
  cursor: pointer;
}

.header {
  max-width: 100%;
  padding: 1.49rem 5.4rem;
}

.btn {
  white-space: nowrap; /* забранява пренасянето на текст */
}
.btn-contact-us {
  font-family: "Lexend", sans-serif;
  font-size: 0.84rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.3rem 0.8rem;
  background-color: #fff;
  border: solid 1px;
  border-radius: 50px;
  letter-spacing: -0.01rem;
  cursor: pointer;
}

/*section homepage*/

.section-homepage {
  margin: 7rem 0;
  gap: 5rem;
}
.homepage-left-side {
  max-width: 100%;
}

.homepage-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-right: 2rem;
  margin-bottom: 1.4rem;
}

.homepage-header {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.36;
  margin-bottom: 2rem;
}

.homepage-left-side a:link,
.homepage-left-side a:visited {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: "Lexend", sans-serif;
  text-decoration: none;
}
.homepage-left-side a:hover,
.homepage-left-side a:active {
  cursor: pointer;
}

.homepage-right-image {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  object-fit: cover;
  border-radius: 45rem;
}

/*section-hero*/
.section-hero {
  max-width: 100%;
  margin-bottom: 4.4rem;
}
.hero-image,
.hero-content {
  width: 100%;
  height: 100%;
}

.hero-content {
  background-color: #142218;
}
.tags {
  display: flex;
  padding-left: 5rem;
  gap: 0.5rem;
}
.tag-white p {
  color: #fff;
  border: solid 1px #fff;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Lexend", sans-serif;
  padding: 0.3rem 1rem;
  margin-top: 5rem;
}
.text {
  margin: 28rem 5rem 5rem 5rem;
}

.hero-header,
.hero-text {
  color: #fff;
}
.hero-header {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.hero-text {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 200;
}

/*section-design*/

.section-design {
  padding: 1.6rem 5.4rem;
  margin-bottom: 4rem;
}
.design-list {
  padding-bottom: 2rem;
  padding-top: 2.4rem;
  border-bottom: solid 1px #ecedf1;
}

.design-header {
  max-width: 40%;
  font-size: 2.8rem;
  font-weight: 300;
  margin-bottom: 4.5rem;
  line-height: 1.36;
}
.design-content {
  padding: 0 7rem;
  overflow: hidden;
  /* Добави border или overflow ако margin collapsing проблемът остава */
}
.design-head {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.design-text {
  font-size: 0.9rem;
  color: #777;
  margin-top: 0;
}

.design-image {
  display: flex;
  width: 100%;
  object-fit: cover;
  grid-column-gap: 0.7rem;
}
.design-img {
  width: 100%;
}

.number {
  font-size: 1.1rem;
  font-weight: 400;
}

/* section planning*/

.section-planning {
  width: 100%;
  min-width: 100vw;
  background-color: #131417;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

.partners-list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr); /* 6 равни колони */
  padding: 8rem 5rem;
  box-sizing: border-box;
  width: 100%;
}

.partner-image {
  border: solid 1px #4d4e50;
  text-align: center;
  align-items: center;
  padding: 1.5rem;
  box-sizing: border-box;
  max-width: 100%;
  transition: padding 0.3s ease;
}

.partner-image img {
  width: 6rem;
  height: 6rem;
}

.planning-content {
  gap: 5rem;
}

.planning-left-side {
  width: 100%;
}

.planning-header,
.planning-price {
  color: #fff;
}
.planning-header {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.36;
  margin-bottom: 2rem;
}

.planning-price {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
  margin-bottom: 5rem;
}

.planning-price span {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

.large-decorative {
  font-size: 6rem;
  font-weight: 300;
  color: #ecedf1;
  align-items: start;
}
.planning-decrative-text {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #777;
  margin-right: 2rem;
}

.btn-contact-us-white {
  font-family: "Lexend", sans-serif;
  font-size: 0.84rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.8rem 1rem;
  border: solid 1px #fff;
  background-color: #131417;
  color: #fff;
  border-radius: 50px;
  letter-spacing: -0.01rem;
  cursor: pointer;
}

/*planning-list*/

.planning-list {
  gap: 2.6rem;
  background-color: #131417;
  padding: 7.4rem 4.4rem;
}
.left,
.right {
  border-top: solid 0.5px rgba(255, 255, 255, 0.3);
}
.list-text {
  font-size: 1.2rem;
  line-height: 1.36;
  color: #fff;
  padding-top: 1.2rem;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.3);
  padding-bottom: 1rem;
  align-items: flex-start;
}

.list-text span {
  font-size: 0.8rem;
  font-weight: 200;
  margin-right: 2rem;
  color: #fff;
}

/*section new york dream*/

.section-new-york-dream {
  max-width: 100%;
}
.new-york-dream-left-side {
  margin: 5rem 5rem 0 5rem;
}
.new-york-dream-links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 5rem;
}

.new-york-link {
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: "Lexend", sans-serif;
  border: solid 1px #4d4e50;
  border-radius: 40rem;
  padding: 0.2rem 1rem;
  text-decoration: none;
}

.new-york-header {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-bottom: 2.4rem;
}

.new-york-image-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.new-york-image-container p {
  font-size: 0.95rem;
  color: #777;
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
  margin-top: 6rem;
}

.new-york-left-image {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 45rem;
  transition: transform 0.5s ease;
  padding: 1rem;
}
.new-york-image-container:hover .new-york-left-image {
  transform: scale(1.07); /* леко увеличаване при hover */
}

.new-york-dream-right-side {
  position: relative;
  display: inline-block;
}
.new-york-right-image {
  display: inline;
  width: 100%;
  height: 100%;
}

/*section-project */
.section-project {
  background-color: #ecedf1;
  max-width: 100%;
  padding: 10rem 5rem;
}
.project-text {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.1px #777;
}
.title-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.36;
}

.projects-images-containers {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  margin-top: 4rem;
  object-fit: cover;
}
.project-image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.project-image {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  transition: transform 0.5s ease;
}

.project-image:hover {
  transform: scale(1.1);
}

.project-tags {
  display: flex;
  justify-content: space-between;
}
.project-tags p {
  font-size: 1.2rem;
}

/*section experts*/
.section-experts {
  padding: 10rem 5rem;
}

.expert-text {
  margin-top: 1.2rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.36;
}
.expert-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.expert-image {
  width: 8rem;
  height: 8rem;
}
.expert-image-dog {
  width: 20rem;
  height: 20rem;
}

.experts-images-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  grid-template-areas:
    "expert1 . expert2 . expert7  expert8  expert10"
    "expert3 expert4 expert5 expert6 expert7 . expert9";
}

#expert1 {
  grid-area: expert1;
}
#expert2 {
  grid-area: expert2;
}
#expert3 {
  grid-area: expert3;
}
#expert4 {
  grid-area: expert4;
}
#expert5 {
  grid-area: expert5;
}
#expert6 {
  grid-area: expert6;
}
#expert7 {
  grid-area: expert7;
}
#expert8 {
  grid-area: expert8;
}
#expert9 {
  grid-area: expert9;
}
#expert10 {
  grid-area: expert10;
}

/*section-dream*/

.section-dream {
  background-color: #142218;
  width: 100%;
  height: 100%;
  padding: 7.2rem 5rem;
  gap: 5rem;
  margin-bottom: 6rem;
}
.dream-content {
  justify-content: center;
  align-items: center;
}
.dream-content h2 {
  color: #ecedf1;
  line-height: 1.36;
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.dream-content p {
  color: #ecedf1;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 5rem;
}
.btn-green {
  background-color: #142218;
  color: #ecedf1;
  padding: 0.7rem 1.8rem;
}

.dream-image {
  width: 100%;
}
.dream-image img {
  width: 100%;
  height: 100%;
}

/*section-hacks*/
.section-hacks {
  margin-bottom: 8rem;
}
.hachs {
  gap: 2rem;
}
.hacks-text {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.36;
}
.hachs-images {
  position: relative;
  overflow: hidden;
}
.large {
  width: 40rem;
  height: 30rem;
}
.small {
  width: 20rem;
  height: 15rem;
}

.trend-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.kitchen-image,
.chair-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.trend-image:hover,
.kitchen-image:hover,
.chair-image:hover {
  transform: scale(1.07) translateY(-5px);
}

.hachs-text {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.arrow-position {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*section-visit-instagram*/

.section-visit-instagram {
  padding: 7rem 5rem;
  background-color: #ecedf1;
}
.visit-instagram-container {
  display: flex;
  gap: 1rem;
}
.visit-instagram-image {
  position: relative;
  overflow: hidden;
}
.visit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.visit-image:hover {
  transform: scale(1.07) translateY(-5px);
}
/*footer*/

.footer-container {
  background-color: #131417;
  color: #ecedf1;
}

.logo {
  width: 7rem;
  height: 7rem;
  gap: 4rem;
}

.icon-list a,
.icon-list ion-icon,
.email,
.footer-left-side,
.footer-addresses,
.address-header {
  color: #fff !important;
}
.menu-list {
  margin-bottom: 4rem;
}

.menu-item li,
.menu-item a {
  font-size: 0.75rem;
  font-weight: 600;
  font-family: "Lexed", sans-serif;
  text-transform: uppercase;
  list-style: none;
  color: #777;
}

.icon-list ul {
  display: flex;
  gap: 1rem;
}

.footer-icon {
  width: 1.4rem;
  height: 1.4rem;
}
.menu-item a:link {
  text-decoration: none;
  color: #ecedf1;
}

.footer-addresses {
  width: 200%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; /* разстояние между колоните */
  justify-content: space-between;
  margin-bottom: 6rem;
}
.decorative-text {
  font-size: 0.75rem;
  line-height: 1.4;
  color: #777;
  white-space: normal; /* позволява пренасяне на ред */
  max-width: 12rem; /* примерно ограничение на ширината, за да излезе на два реда */
  word-wrap: break-word;
}

.address-header {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 1rem;
}
.copy-right {
  display: inline;
}
strong {
  color: #ecedf1;
  text-decoration: underline;
}
.footer-right-side {
  padding: 4rem 2rem;
}
.footer-righ-text {
  font-size: 2.4rem;
  line-height: 1.36;
  font-weight: 300;
  color: #ecedf1;
  margin-bottom: 4rem;
}
.btn-black {
  background-color: #131417;
  color: #ecedf1;
  padding: 1rem 2rem;
  margin-bottom: 7rem;
}

.footer-right-tools {
  display: flex;
  flex-direction: row;
}
.tools {
  display: flex;
  gap: 2rem;
}
.tools li {
  list-style: none;
}
.tools a {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
