/*navigation*/

.logo {
  height: 100%;
  cursor: pointer;
}
.logo-img {
  max-width: 100%;
  display: inline-block;
}
.navbar-items {
  justify-content: space-between;
  align-items: flex-start;
  gap: 6rem;
}
.navbar-item {
  list-style: none;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.navbar-item a:link,
.navbar-item a:visited {
  text-decoration: none;
  font-weight: 700;
  line-height: 1;
}

.navbar-item a:hover,
.navbar-item a:active {
  cursor: pointer;
}

.header {
  max-width: 100%;
  padding: 1.49rem 5.4rem;
}

.btn-contact-us {
  font-family: "Lexend", sans-serif;
  font-size: 0.84rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.3rem 0.8rem;
  background-color: #fff;
  border: solid 1px;
  border-radius: 50px;
  letter-spacing: -0.01rem;
  cursor: pointer;
}

/*section homepage*/

.section-homepage {
  margin: 14rem 0 7.2rem 0;
  gap: 5rem;
}
.homepage-left-side {
  width: 100%;
}

.homepage-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-right: 2rem;
  margin-bottom: 1.4rem;
}

.homepage-header {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.36;
  margin-bottom: 2rem;
}

.homepage-left-side a:link,
.homepage-left-side a:visited {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: "Lexend", sans-serif;
  text-decoration: none;
}
.homepage-left-side a:hover,
.homepage-left-side a:active {
  cursor: pointer;
}

.homepage-right-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 45rem;
}

/*section-hero*/
.section-hero {
  max-width: 100%;
  margin-bottom: 8.4rem;
}
.hero-image {
  width: 100%;
  height: 100%;
}

.hero-content {
  background-color: #142218;
}
.tags {
  display: flex;
  padding-left: 5em;
  gap: 0.5rem;
}
.tag-white p {
  color: #fff;
  border: solid 1px #fff;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Lexend", sans-serif;
  padding: 0.3rem 1rem;
  margin-top: 5rem;
}
.text {
  margin: 28rem 5rem 5rem 5rem;
}

.hero-header,
.hero-text {
  color: #fff;
}
.hero-header {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.hero-text {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 200;
}

/*section-design*/

.section-design {
  padding: 1.6rem 5.4rem;
  margin-bottom: 4rem;
}
.design-list {
  padding-bottom: 2rem;
  padding-top: 2.4rem;
  border-bottom: solid 1px #ecedf1;
}

.design-header {
  max-width: 40%;
  font-size: 2.8rem;
  font-weight: 300;
  margin-bottom: 4.5rem;
  line-height: 1.36;
}
.design-text {
  margin-left: 4rem;
  color: #777;
  margin-bottom: 8rem;
}

.design-image {
  width: 50%;
}
.design-img {
  width: 40rem;
}
.design-content {
  align-items: start;
}

.design-head {
  font-size: 2.4rem;
  font-weight: 300;
}

.number {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.36rem;
  margin-right: 2rem;
}

/* section planning*/

.section-planning {
  max-width: 100%;
  background-color: #131417;
}

.partners-list {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr); /* 12 equal columns */
  padding: 10rem 5rem;
}

.partner-image {
  width: 100%;
  border: solid 1px #4d4e50;
  text-align: center;
  align-items: center;
  padding: 3rem;
}

.planning-content {
  gap: 8rem;
}

.planning-left-side {
  width: 100%;
}

.planning-header,
.planning-price {
  color: #fff;
}
.planning-header {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.36;
  margin-bottom: 2rem;
}

.planning-price {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
  margin-bottom: 5rem;
}

.planning-price span {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

.large-decorative {
  font-size: 6rem;
  font-weight: 300;
  color: #ecedf1;
  align-items: start;
}
.planning-decrative-text {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #777;
  margin-right: 2rem;
}

.btn-contact-us-white {
  font-family: "Lexend", sans-serif;
  font-size: 0.84rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.8rem 1rem;
  border: solid 1px #fff;
  background-color: #131417;
  color: #fff;
  border-radius: 50px;
  letter-spacing: -0.01rem;
  cursor: pointer;
}

/*planning-list*/

.planning-list {
  gap: 2.6rem;
  background-color: #131417;
  padding: 7.4rem 4.4rem;
}
.left,
.right {
  border-top: solid 0.5px rgba(255, 255, 255, 0.3);
}
.list-text {
  font-size: 1.2rem;
  line-height: 1.36;
  color: #fff;
  padding-top: 1.2rem;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.3);
  padding-bottom: 1rem;
  align-items: flex-start;
}

.list-text span {
  font-size: 0.8rem;
  font-weight: 200;
  margin-right: 2rem;
  color: #fff;
}

/*section new york dream*/

.section-new-york-dream {
  max-width: 100%;
}
.new-york-dream-left-side {
  margin: 5rem;
}
.new-york-dream-links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.new-york-link {
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: "Lexend", sans-serif;
  border: solid 1px #4d4e50;
  border-radius: 40rem;
  padding: 0.4rem 1.2rem;
  text-decoration: none;
}

.new-york-header {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-bottom: 4.5rem;
}

.new-york-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.new-york-left-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 45rem;
  transition: all 0.3s ease;
}
.new-york-left-image:hover {
  transform: scale(1.1);
}

.new-york-dream-right-side {
  width: 100%;
  height: 100%;
}

.text {
}
