/*navigation*/

.logo {
  height: 100%;
  cursor: pointer;
}
.logo-img {
  max-width: 100%;
  display: inline-block;
}
.navbar-items {
  justify-content: space-between;
  align-items: flex-start;
  gap: 6rem;
}
.navbar-item {
  list-style: none;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.navbar-item a:link,
.navbar-item a:visited {
  text-decoration: none;
  font-weight: 700;
  line-height: 1;
}

.navbar-item a:hover,
.navbar-item a:active {
  cursor: pointer;
}

.header {
  max-width: 100%;
  padding: 1.49rem 5.4rem;
}

.btn-contact-us {
  font-family: "Lexend", sans-serif;
  font-size: 0.84rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.3rem 0.8rem;
  background-color: #fff;
  border: solid 1px;
  border-radius: 50px;
  letter-spacing: -0.01rem;
  cursor: pointer;
}

/*section homepage*/

.section-homepage {
  margin: 14rem 0 7.2rem 0;
  gap: 5rem;
}
.homepage-left-side {
  width: 100%;
}

.homepage-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-right: 2rem;
  margin-bottom: 1.4rem;
}

.homepage-header {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.36;
  margin-bottom: 2rem;
}

.homepage-left-side a:link,
.homepage-left-side a:visited {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: "Lexend", sans-serif;
  text-decoration: none;
}
.homepage-left-side a:hover,
.homepage-left-side a:active {
  cursor: pointer;
}

.homepage-right-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 45rem;
}

/*section-hero*/
.section-hero {
  max-width: 100%;
}
.hero-image {
  width: 100%;
  height: 100%;
}

.hero-content {
  background-color: #142218;
}
.tags {
  display: flex;
  padding-left: 5rem;
  gap: 0.5rem;
}
.tag-white p {
  color: #fff;
  border: solid 1px #fff;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Lexend", sans-serif;
  padding: 0.3rem 1rem;
  margin-top: 5rem;
}
.text {
  margin: 28rem 5rem 5rem 5rem;
}

.hero-header,
.hero-text {
  color: #fff;
}
.hero-header {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.hero-text {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 200;
}
